VITE_FIREBASE_API_KEY=AIzaSyDV0HjFKfKEjKHKQqEfLjQhKxLxLLK5jYE
VITE_FIREBASE_AUTH_DOMAIN=itqan-pos.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=itqan-pos
VITE_FIREBASE_STORAGE_BUCKET=itqan-pos.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=581420315
VITE_FIREBASE_APP_ID=1:581420315:web:8e3d5c2f8c9a1b2d3e4f5g
